.ls{
    color:#00CCFF;
    color:#0066FF;
    color:#00CCFF;
    color:#0066FF;
    color:#00CCFF;
    color:#0066FF;
    color:#00CCFF;
    color:#0066FF;

    color:#336699;




    color:#999900;/* 域名*/
    color:#CC99FF;/* 邮箱*/
    color:#00CCFF;/* MD5*/
    color:#FF0000;/* 危险色*/
    color:#CCFF00;/* 首节点*/
    color:#996699;/* ip*/


}